.footer-section {
    border-top: 1px solid #7f7f7f;
    margin: auto;
    padding-top: 30px;
    width: 90%;
}

.footer-left {
    float: left;
}

.footer-left h2 {
    color:#7f7f7f;
    padding-left: 30px;
}

.footer-right {
    float: right;
}

.footer-right p {
    line-height: 1.6;
    text-align: left;
}
