.nav-bar {
<<<<<<< HEAD
    margin: 30px;
    overflow: hidden;
    z-index: 9999;
    text-align: left;
    display: flex;
}

.nav-bar li {
    display: flex;
    list-style: none;
}

.nav-bar li a {
    margin: 0 10px;
=======
    list-style-type: none; 
    margin: 30px;
    overflow: hidden;
    width: 100%;
    z-index: 9999;
}

.nav-bar li {
    float: left;
}

.nav-bar a {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
>>>>>>> Sets up header
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

<<<<<<< HEAD
.nav-bar .logo a{
    padding: 6px;
}

.nav-bar .link a {
    color: #7A7A7A;
    text-decoration: none;
    padding: 16px;
    border-radius: 4px;
    transition: 0.3s;
}

.nav-bar .link a:hover {
=======
.nav-bar #link a {
    color: #7A7A7A;
    text-decoration: none;
    border-radius: 4px;
    border-bottom: 4px solid transparent;
    transition: 0.3s;
    padding: 16px;
}

.nav-bar #link a:hover {
>>>>>>> Sets up header
    background-color: #F9F9F9;
    color: #525252;
}

<<<<<<< HEAD
.nav-bar .active a {
    color: #429E73;
    border-bottom: 3px solid #429E73;
    padding: 18px 4px;
=======
.nav-bar #active a {
    color: #429E73;
    border-bottom: 3px solid #429E73;
    padding: 16px;
>>>>>>> Sets up header
}
